<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @comment.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @comment.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @comment.latitude %>
</p>

<p>
  <strong>Feeling:</strong>
  <%= @comment.feeling %>
</p>

<p>
  <strong>Page:</strong>
  <%= @comment.page %>
</p>

<p>
  <strong>Is micro:</strong>
  <%= @comment.is_micro %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
