<style >
</style>

<template class="">
  <formcomponent :page="page"></formcomponent>
  <map v-if="page != null"></map>
  <button class="btn btn-primary" v-on:click="mode_change()">map mode</button>
  {{page}}
</template>

<script>
import Vue from 'vue';
import Form from './Form.vue';
import Map from './Map.vue';
import {renderMap} from '../vuex/actions.js';

export default {
  vuex: {
    getters: {
       map: state => state.map
    },
    actions: {
      renderMap
    }
  },
  components: {
    'formcomponent': Form,
    'map': Map
  },
  data: function () {
    return {
      page:null
    }
  },
  methods: {
    mode_change: function(){
      if(this.page == "map"){
        this.page = null;
      }else{
        this.page = "map";
      }
    }
  },
  created(){
    console.info("[A] created");
  },
  ready(){
    console.info("[A] ready");
  }
}
</script>
