<style >
</style>

<template class="">
  <formcomponent :page="page"></formcomponent>
  <map v-if="page == 'map'"></map>
  <soutsui v-if="page == 'soutsui'"></soutsui>
  <button class="btn btn-primary" v-on:click="normal_mode()">のーまるもーど</button>
  <button class="btn btn-primary" v-on:click="map_mode()">map mode</button>
  <button class="btn btn-primary" v-on:click="soutsui_mode()">SOUTSUI MODE</button>
</template>

<script>
import Vue from 'vue';
import Form from './Form.vue';
import Map from './Map.vue';
import Soutsui from './Soutsui.vue';
import {renderMap} from '../vuex/actions.js';

export default {
  vuex: {
    getters: {
       map: state => state.map
    },
    actions: {
      renderMap
    }
  },
  components: {
    'formcomponent': Form,
    'map': Map,
    'soutsui': Soutsui
  },
  data: function () {
    return {
      page:null
    }
  },
  methods: {
    map_mode: function(){
      this.page = "map";
    },
    soutsui_mode: function(){
      this.page = "soutsui";
    },
    normal_mode: function(){
      this.page = "normal";
    }
  },
  created(){
    console.info("[A] created");
  },
  ready(){
    console.info("[A] ready");
  }
}
</script>
