<style >
</style>
<template class="">
  <div class="container">
    <div class="form-group">
      <label>ユーザーID</label>
      <input type="text" v-model="user_id">
    </div>
        <div class="form-group">
            <label>対象物</label>
            <input type="text" v-model="object">
        </div>
        <div class="form-group">
            <label>内容</label>
            <input type="text" v-model="content">
        </div>
        <div class="checkbox">
          印象
          <input type="radio" id="one" value="0" v-model="feeling">
          <label for="one">良い</label>
          <input type="radio" id="two" value="1" v-model="feeling">
          <label for="two">悪い</label>
          <input type="radio" id="two" value="2" v-model="feeling">
          <label for="two">疑問</label>
          <input type="radio" id="two" value="3" v-model="feeling">
          <label for="two">不明</label>
          {{feeling}}
          {{page}}
        </div>
        <div class="checkbox">
          マイクロなんとかを使いましたか？
          <input type="radio" id="one" value="0" v-model="is_micro">
          <label for="one">つかった</label>
          <input type="radio" id="two" value="1" v-model="is_micro">
          <label for="two">つかってない</label>
        </div>
        <button type="submit" v-on:click='sendForm()'>送信</button>
</div>
</template>
<script>
import Vue from 'vue';
import API from '../api.js';
export default {
  props: ['page'],
  vuex: {
    actions: {
    }
  },
  data: function(){
    return{
      user_id: null,
      object: null,
      feeling: null,
      content: null,
      latitude: null,
      longitude: null,
      is_micro: null
    }
  },
  methods: {
    getLocation: function(lat,lng){
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition((position) => {
          this.latitude = position.coords.latitude;
          this.longitude = position.coords.longitude;
        },function(){
          alert("error");
        });
      } else {
      }
    },

    sendForm: function(){
      if(this.page == null){
        this.page = 0;
      }else if(this.page == "normal"){
        this.page = 0;
      }else if(this.page == "map"){
        this.page = 1;
      }else if(this.page == "soutsui"){
        this.page = 2;
      }
      console.info("[Form] sendForm");
      console.info("[Form] page" + this.page + "です");
      this.getLocation(this.latitude,this.longitude);
      console.info("[Form] this.latitude: "+this.latitude);
      console.info("[Form] this.latitude: "+this.longitude);
      API.postForm(this.user_id, this.object, this.feeling, this.content, this.latitude, this.longitude, this.page, this.is_micro)
      .then((response)=>console.log("response: " + response));
    }
  },
  created(){
    console.info("[Form] created");
  },
  ready(){
    console.info("[Form] ready");
  }
}
</script>
