<style >
</style>
<template class="">
  <div id="map" style="width:1000px; height:600px">
  </div>
</template>
<script>
import Vue from 'vue';
import API from '../api.js';
import {renderMap} from '../vuex/actions.js';

export default {
  vuex: {
    getters: {
       map: state => state.map
    },
    actions: {
      renderMap
    }
  },
  data: function () {
    return {
      commentMapData: null
    }
  },
  methods: {
    getComment: function(){
      console.info("[Map] getComment()");
      API.getComment()
      .then((response)=>{
        console.info("[Map] getComment() せーこー");
        this.commentMapData = response;
        console.log("[Map] commentMapData: " + this.commentMapData)
      })
    },
    addInformationWindow: function(){
        console.info("[Map] addInformationWindow()");
        console.info(this.commentMapData.data.length);
        for(let i=0; i<this.commentMapData.data.length; i++){
          console.log("[Map] addInformationWindow() LOOOOOOP")
          console.log("[Map] this.commentMapData.data[i].latitude: " + this.commentMapData.data[i].latitude)
          var uluru = {lat: this.commentMapData.data[i].latitude,lng: this.commentMapData.data[i].longitude};
          var contentString = 'name: ' + this.commentMapData.data[i].name
          + '\n content: ' + this.commentMapData.data[i].content;
          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });
          var marker = new google.maps.Marker({
            position: uluru,
            map: this.map,
            title: 'aaaaa'
          });
          marker.addListener('click', function() {
            infowindow.open(this.map, this.marker);
            console.log("[Map] marker clicked");
            console.log("[Map] this.marker: " + this.marker);
            console.log("[Map] this.marker: " + this.marker.contentString);
          });
        }
    }
  },
  created(){
    console.info("[Map] created");
  },
  ready(){
    this.renderMap();
    this.getComment();
  },
  watch: {
    commentMapData: function() {
      console.log("watch")
      this.addInformationWindow();
    }
  }
}
</script>
