<style>
</style>
<template class="">
<router-view></router-view>
</template>
<script>
import Vue from 'vue'
import store from '../vuex/store';
export default {
  store,
  vuex: {
    actions: {
    }
  },
  methods: {
  },
}
</script>
